
.content{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #202020;
  z-index: -1;
  text-align: center;
}
.content .header{
  font-size: 60px;
  font-weight: 600;
}
.content p{
  font-size: 30px;
  font-weight: 500;
}
.slider{
  margin-bottom: 100px;
}

